.c-label {
  &-1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
    color: #474747;
    margin-bottom: 4rem;
    font-style: italic;
    font-family: 'Brygada 1918', serif;
    font-weight: 400;
  }

  &-2 {
    text-align: center;
    font-weight: 300;
  }
}
