.c-product-item {
  // width: 33.3%;
  padding: 0 3rem;
  border-left: solid 1px #d7d6d4;
  border-right: solid 1px #d7d6d4;

  @media only screen and (max-width: 750px) {
    padding: 0 1rem;
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
