.c-select-options {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d6d4;

  &__column {
    display: flex;
    padding: 2rem 2rem;
    border-right: 1px solid #d7d6d4;
  }

  &__icon {
    margin-right: 1rem;
    opacity: 0.2;
    &.is-active {
      opacity: 1;
    }
  }
  &__sort {
    select {
      width: 100%;
      height: 100%;

      display: block;
      padding: 1.8rem 3rem 1.8rem 3.4rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      border-left: 1px solid #d7d6d4;

      &:focus {
        outline: none;
      }
    }
  }
}
