.l-review {
  // padding: 0 9rem;
  padding: 8rem 0;

  &__inner {
  }

  &__top {
    font-size: 2.6rem;
    font-weight: 300;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin-bottom: 3rem;

    &-rating {
      padding-left: 1rem;
      font-size: 1.8rem;
    }
  }

  &__list {
    max-height: 32rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__avator {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: 1.35rem;
    margin-right: 1rem;
  }

  &__date {
    font-size: 1.35rem;
  }

  &__rating {
    padding-left: 5.3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__comment {
    padding-left: 5.3rem;
  }
}
